@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:ital,wght@0,400;0,700;1,500;1,700&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@400;600;700&display=swap");
:root {
  --white: #fff;
  --blue: #1f98f0;
  --black: #03101a;
  --grey:#E5E5E5;;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.header {
  display: flex;
  background: #1f98f0;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-menu__item {
  margin-right: 50px;
  padding: 25px;
  color: #fff;
}
.header-menu__item a {
  color: #fff;
}
.btn {
  margin-right: 10px;
  padding: 0 20px 0 10px;
  margin-top: 19px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
}
.texts {
  background-color: var(--blue);
  color: var(--white);
  padding: 150px;
}
.title {
  width: 690px;
  font-family: "Work Sans", sans-serif;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
}
.text {
  width: 500px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.textimg img {
  float: right;
  position: relative;
  bottom: 350px;
}
.firstimg {
  left: 120px;
  border-radius: 34px;
}
.secondimg {
  border-radius: 34px;
  width: 220px;
}
.sidebar{
  width: 100%;
  background-color: var(--grey);
}
.logo img{
  position: relative;
  left: 140px;
  align-items: center;
}
.logo{
margin-left: 16px;

}
.sidebar img{
  margin-left: 10px;
}
.sidebar-title{
margin-top: 10px;
}
.inner{
  text-align: center;
  width: 50%;
  float: left;
  
  padding-left: 530px;
}
https://www.figma.com/file/UZpcMp08YeqKjJk3EIVmFe/Hungry-App?node-id=0%3A13
